@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.top-nav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.compaign-btn {
  border: 4px solid #ec5242;
  color: #333;
  padding: 7px;
}

.main-nav a {
  color: rgb(68, 67, 67);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.top-nav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 4px 20px;
  text-decoration: none;
  font-size: 13px;
}

.navbar-toggler-icon {
  display: none;
  align-items: center;
  justify-content: center;
}

.top-nav a.right {
  float: right;
}

.main-nav a:hover {
  background-color: #ddd;
  color: black;
}

.main-nav a.active {
  color: #ec5242;
}

.logo > a > img {
  height: 50px;
}

.main-cover {
  background: rgba(255, 255, 255, 0.5);
  background-image: url("./images/summit-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.desc {
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.desc h2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 5rem;
  padding: 10px 10px;
  text-decoration: transparent;
  color: rgba(255, 0, 0, 0.6);
}

.desc h1 {
  font-size: 2.6rem;
  padding: 90px 30px 0 25px;
  line-height: 1.8;
  color: #ec5242;
}

.main-program {
  background-image: url("./images/main-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-title h2 {
  text-align: center;
  padding: 30px 0;
  color: #fff;
}

.feature-speakers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 150px;
}

.feature-title h2 {
  text-align: center;
  padding: 30px 0;
}

.line {
  height: 3px;
  width: 30px;
  border-top: 2px solid #ec5242;
  text-align: center;
}

.service-item {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 5px;
  margin: 10px 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
  margin: 10px 20px;
}

.card-title {
  font-size: 18px;
  color: #ec5242;
}

.whole {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whole h4 {
  border-bottom: 2px solid #fff;
  text-align: center;
  color: #d3d3d3;
  margin: 30px 0;
}

.speaker {
  display: flex;
}

.speaker-desc {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 0 15px;
}

.speaker img {
  width: 150px;
  height: 140px;
}
.speaker h1 {
  font-size: 18px;
  margin-bottom: 8px;
}
.speaker-desc h2 {
  color: #ec5242;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1024px) {
  .partner-container,
  .service-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  .partner-container,
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-speakers {
    margin: 0 30px;
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap: 20px;
    margin: 10px 20px;
  }
  .service-item {
    flex-direction: row;
    text-align: start;
  }
}

@media only screen and (max-width: 768px) {
  .partner-container,
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service-item {
    flex-direction: row;
  }
}

@media only screen and (max-width: 500px) {
  .partner-container,
  .service-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .compaign-btn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-nav {
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }
  .links,
  .logo,
  .top-nav,
  .compaign-btn {
    display: none;
  }
  .navbar-toggler-icon {
    display: flex;
    padding-left: 10px;
  }
}

@media screen and (max-width: 468px) {
  .desc h2 {
    font-size: 3.5rem;
  }
  .desc h1 {
    font-size: 2.4rem;
  }
  .main-nav {
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }

  .main-nav {
    background: rgba(216, 211, 211, 0.3);
    height: 100px;
  }
  .top-nav,
  .links,
  .logo,
  .compaign-btn {
    display: none;
  }
  .navbar-toggler-icon {
    display: flex;
    padding-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .main-nav {
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }
  .top-nav,
  .links,
  .logo,
  .compaign-btn {
    display: none;
  }
  .navbar-toggler-icon {
    display: flex;
    padding-left: 8px;
  }
}

@media screen and (max-width: px) {
  .desc h2 {
    font-size: 2rem;
  }
  .desc h1 {
    font-size: 1.8rem;
  }
}
