@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

:after {
  content: none;
}

body {
  background-color: #f2f2f2;
  height: 100%;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #f2f2f2;
}

.top-nav {
  height: 30px;
  background-color: #272a31;
}

.social-media {
  width: 560px;
}

.social-media a,
.social-media a i {
  color: white;
  padding-left: 10px;
  font-size: 12px;
}

.container-fluid {
  padding: 0 !important;
}

.img-container {
  padding-top: 10px;
  height: 50px;
  width: 120px;
}

.img-container > img {
  height: 40px;
}

nav {
  height: 60px;
  opacity: 0.9;
}

.nav-links a,
.compaign-btn {
  text-decoration: none;
  color: #272a31;
  font-size: 13px;
  font-weight: 600;
}

.home a {
  color: #ec5242 !important;
}

.compaign-btn {
  text-decoration: none;
  color: #ec5242;
  font-size: 13px;
  font-weight: 600;
}

.compaign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ec5242 !important;
  height: 30px;
  width: 100px;
}

.main-header {
  height: 100%;
}

.header {
  background: url("./images/unnamed.jpg") rgba(255, 255, 255, 0.5);
  height: 100%;
  opacity: 0.1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 200px;
}

.header > h1 {
  height: 100px;
  width: 500px;
  font-size: 80px;
  text-align: center;
  padding: 30px;
  margin-left: 100px;
  color: #ec5242;
  opacity: 0.5;
}

.welcome {
  background-image: url("./images/cover.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.disc {
  height: 900px;
}
.text {
  color: #ec5242;
}

.main-page {
  background-image: url("./images/main-background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.project-title {
  padding-bottom: 30px;
}
.project-title h2 {
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
  width: 200px;
}
.speakers-title {
  padding-bottom: 30px;
}
.speakers-title h2 {
  text-align: center;
  padding: 15px 0;
  color: #272a31;
  width: 200px;
}

.line {
  height: 3px;
  width: 30px;
  border-top: 2px solid #ec5242;
  text-align: center;
}

.whole {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.whole h4 {
  border-bottom: 2px solid #fff;
  text-align: center;
  color: #d3d3d3;
}
.card {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-align: center;
  color: white;
}

.main-programs {
  margin: 0 300px;
}

.speaker {
  background-color: #ffffff;
}

.card-width {
  width: 200px;
}

.brand-container {
  background-color: #272a31;
}

.brands a img {
  height: 150px;
  width: 200px;
  color: #d3d3d3;
}

.brand-title h2 {
  text-align: center;
  padding: 15px 0;
  color: #ffffff;
  width: 200px;
}
.brands {
  height: 200px;
}
.rights {
  font-size: 14px;
}
footer {
  background-color: #d3d3d3;
}

.footer-logo img {
  height: 100px;
  width: 200px;
  margin-top: 50px;
}

.footer-links {
  margin: 10px;
}
.footer-links a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 12px;
  color: #272a31;
}
.footer-about-links a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 12px;
  color: #8a8484;
}
.about-header {
  background-color: #f2f2f2;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.about-header p {
  text-transform: uppercase;
  font-size: 250%;
  color: #ec5242;
  font-weight: 900;
  text-align: center;
  height: 100px;
  width: 500px;
  margin-top: 30px;
}
.descriptions {
  height: 180px;
  width: 600px;
  background-color: #f7f7f7;
  margin-top: 30px;
  padding-top: 10px;
  border: 0.3px solid #d3d3d3;
}
.descriptions p {
  color: #272a31;
  font-size: 14px;
  text-transform: lowercase;
  height: 50px;
  width: 600px;
  padding: 0;
  margin: 0;
}

.info-section {
  /* height: 150px; */
  padding-top: 30px;
  background-color: #fff;
  border: 0.3px solid #e0e0e0;
}

.info {
  /* width: 600px; */
  margin: auto;
}

.logo-section {
  height: 170px;
  width: 500px;
  border: 0.3px solid #b9b9bb;
  margin: auto;
  margin-bottom: 30px;
}

.about-footer {
  color: #b9b9bb;
  background-color: #272a31;
}

.past-summits {
  border: 0.3px solid #e0e0e0;
  /* width: 800px; */
  /* height: 300px; */
}

.past-img-1 {
  background-color: #d36652;
  background-image: url("images/france.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.past-img-2 {
  background-color: #d36652;
  background-image: url("images/australia.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.summit-img-container {
  height: 200px;
  width: 500px;
}
